//Font family
$primaryFont: 'Proza Libre';

//Colours
$white: #FFFFFF;
$black: #000000;
$green: #1E3932;
$lightGreen: #9BF5B4;
$pink: #FA91AA;
$salmon: #F06464;
$orange: #FAAA5A;

//Sizes - Fonts
$sm: 1.2rem;
$md: 1.4rem;
$lg: 1.7rem;
$xl: 2.2rem;
$xxl: 2.6rem;

//Sizes - Screen
$phone: 640px;
$tablet: 768px;
$desktop: 1024px;
$largeDesktop: 1280px;

